<app-header [titulo]="titulo || ''" [icono]="icono || 'attach'"> </app-header>
<div class="ion-page" main>

    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-toolbar color="tertiary">
        <ion-title style="text-align: center" size="small">
            <ion-icon name="briefcase"></ion-icon>
            Documentación - Informe Bancario
        </ion-title>
    </ion-toolbar>

    <ion-toolbar color="light">
        <div class="ion-text-center" padding>
            <ion-card-subtitle color="primary"><i>Buenisimo!, ya  terminamos, Ahora Tome una foto de los 3 últimos meses de resumen bancarios y presione "Subir Documentación", cuando se active en color verde...</i>
            </ion-card-subtitle>
        </div>
    </ion-toolbar>

    <ion-content padding>
        <app-camera [tituloDocumento]="'Resumen-Bancario'" [cantPhotos]="'3'" [inmediatoSiguiente]="'/menu/documento4'"></app-camera>
    </ion-content>

    <div *ngIf="footer">
        <ion-footer>
            <app-footer></app-footer>
        </ion-footer>
    </div>
</div>