<ion-header translucent>
    <ion-toolbar color="warning">
        <ion-title style="text-align: center" size="small">
            <ion-icon name="home"></ion-icon>
            Datos Domiciliarios
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="form" (ngSubmit)="guardarDatosDomiciliarios()">
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <ion-label>Provincia</ion-label>
                        <ion-input formControlName="provincia" placeholder="ingrese provincia..." name="dni" type="numeric" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Localidad</ion-label>
                        <ion-input formControlName="localidad" placeholder="ingrese localidad..." name="localidad" type="text" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Domicilio</ion-label>
                        <ion-input formControlName="domicilio" placeholder="ingrese domicilio..." name="domicilio" type="text" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Calle</ion-label>
                        <ion-input formControlName="calle" placeholder="ingrese fecha de nacimiento..." name="fechaNacimiento" type="date " required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Número<i class="fas fa-sort-numeric-down    "></i></ion-label>
                        <ion-input formControlName="numero" placeholder="ingrese número de domicilio..." name="" type="date " required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Piso</ion-label>
                        <ion-input formControlName="Piso" placeholder="ingrese piso de domicilio si corresponde..." name="" type="date " required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Dpto.</ion-label>
                        <ion-input formControlName="dpto" placeholder="ingrese nro. de dto. si corresponde..." name="" type="date " required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Entre calle</ion-label>
                        <ion-input formControlName="entrecalle" placeholder="ingrese una calle paralela..." name="" type="date " required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Y calle</ion-label>
                        <ion-input formControlName="ycalle" placeholder="ingrese la otra calle paralela" name="" type="date " required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Barrio</ion-label>
                        <ion-input formControlName="Barrio" placeholder="ingrese barrio si corresponde..." name="" type="date " required></ion-input>
                    </ion-item>

                    <ion-button expand="full" color="success">CONTINUAR</ion-button>
                </ion-list>
            </ion-col>
        </ion-row>
    </form>
</ion-content>