<app-header [titulo]="titulo || ''" [icono]="icono || 'home'">
</app-header>

<div class="ion-page" main>

    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-toolbar color="tertiary">
        <ion-title style="text-align: center" size="small">
            <ion-icon name="home"></ion-icon>
            Datos Domiciliarios
        </ion-title>
    </ion-toolbar>

    <ion-content class="ion-padding">
        <app-form-datos-domiciliarios></app-form-datos-domiciliarios>
    </ion-content>

    <div *ngIf="footer">
        <ion-footer>
            <app-footer></app-footer>
        </ion-footer>
    </div>
</div>