$colors: ( success: #10dc60, primary: #488aff, secondary: #0BC1E2, danger: #f53d3d, light: #f4f4f4, dark: #222, twitter: #55acee);
.active-item {
    --ion-background-color: #488aff;
    --ion-text-color: #ffffff;
}