<app-header [titulo]="titulo || 'Cuenta'" [icono]="icono || 'contact'"></app-header>
<ion-content>
    <ion-card>
        <img src="/assets/icon/person.png">
        <ion-card-header>
            <ion-card-subtitle>Fintech App</ion-card-subtitle>
            <ion-card-title>CESI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            CESI app, le permitirá saber a tus clientes su estado de cuenta en tiempo en cualquier momento.
        </ion-card-content>
    </ion-card>

    <ion-footer>
        <app-footer></app-footer>
    </ion-footer>
</ion-content>