<ion-header translucent>
    <ion-toolbar color="medium">
        <ion-title style="text-align: center" size="small">
            <ion-icon name="phone"></ion-icon>
            Datos de Contacto
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="form" (ngSubmit)="guardarDatosContactos()">
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <ion-label>Teléfono Celular</ion-label>
                        <ion-input formControlName="telefonoCelular" placeholder="" name="dni" type="numeric" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Teléfono Fijo</ion-label>
                        <ion-input formControlName="telefonoFijo" placeholder="" name="nombre" type="text" required></ion-input>
                    </ion-item>

                    <ion-button expand="full" color="success">CONTINUAR</ion-button>
                </ion-list>
            </ion-col>
        </ion-row>
    </form>
</ion-content>