<ion-content>
    <form [formGroup]="form" (ngSubmit)="guardarDatosContactos()">
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <!-- <ion-label>Teléfono Celular</ion-label> -->
                        <ion-input formControlName="telefonoCelular" placeholder="Teléfono Celular" name="dni" type="number" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <!-- <ion-label>Teléfono Fijo</ion-label> -->
                        <ion-input formControlName="telefonoFijo" placeholder="Teléfono Fijo" name="nombre" type="number" required></ion-input>
                    </ion-item>

                    <ion-button [disabled]="!form.invalid" expand="full" color="success" (click)="navCtrlPage()">CONTINUAR</ion-button>
                </ion-list>
            </ion-col>
        </ion-row>
    </form>
</ion-content>