<ion-content class="ion-padding">
    <ion-toolbar>
        <ion-row class="top-20">
            <ion-col size="12" text-center>
                <ion-label>
                    <ion-label color="primary">Ahora podés solictar tu prestamo desde cualquier lugar !!</ion-label>
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-toolbar>

    <ion-grid>
        <ion-row>
            <ion-col style="text-align: center">
                <ion-button expand="block" color="tertiary" (click)="navCtrlPage()">$3.0000</ion-button>
                <ion-label size="small" class="textcuotas">(3 Cuotas de $1100)</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col style="text-align: center">
                <ion-button expand="block" color="secondary" (click)="navCtrlPage()">$6.0000</ion-button>
                <ion-label size="small" class="textcuotas">(3 Cuotas de $3100</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col style="text-align: center">
                <ion-button expand="block" color="warning" (click)="navCtrlPage()">$9.000</ion-button>
                <ion-label size="small" class="textcuotas">(3 Cuotas de $4100)</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col style="text-align: center">
                <ion-button expand="block" color="medium" (click)="navCtrlPage()">$12.000</ion-button>
                <ion-label size="small" class="textcuotas">(3 Cuotas de $5100)</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>