<app-header [titulo]="''" [icono]="'ios-help-circle-outline'"></app-header>
<ion-content>
    <ion-card>
        <img src="/assets/icon/ayuda.png">
        <ion-card-header>
            <ion-card-subtitle>Fintech App</ion-card-subtitle>
            <ion-card-title>Mutual 22</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            En caso que necesites ayuda, comuniquese a travez de whatsapp en el menu del app, nuestro personal esta para brindar el apoyo necesario en todo lo que necesites, referente a nuestros servicios.
        </ion-card-content>
    </ion-card>
</ion-content>
<!-- <ion-footer>
    <app-footer></app-footer>
</ion-footer> -->