<app-header [titulo]="titulo || ''" [icono]="icono || 'attach'"> </app-header>
<div class="ion-page" main>

    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-toolbar color="medium">
        <ion-title style="text-align: center" size="small">
            <ion-icon name="document"></ion-icon>
            Documentación - Servicios
        </ion-title>
    </ion-toolbar>

    <ion-toolbar color='light'>
        <div class="ion-text-center" padding>
            <ion-card-subtitle color="primary"><i>Excelente!, Ahora Tome una foto de un impuesto/servicio a su nombre y presione Subir Documentación, cuando se active en color verde...</i>
            </ion-card-subtitle>
        </div>
    </ion-toolbar>

    <ion-content padding>
        <app-camera [inmediatoSiguiente]="'/menu/cam-selfie'"></app-camera>
    </ion-content>

    <div *ngIf="footer">
        <ion-footer>
            <app-footer></app-footer>
        </ion-footer>
    </div>
</div>