<app-header [titulo]="titulo || ''" [icono]="icono || 'document'">
</app-header>

<div class="ion-page" main>

    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-toolbar color="medium">
        <ion-title style="text-align: center" size="small">
            <ion-icon name="document"></ion-icon>
            Terminos y Condiciones
        </ion-title>
    </ion-toolbar>

    <ion-content class="ion-padding">
        <app-form-terminos-condiciones></app-form-terminos-condiciones>
    </ion-content>

    <ion-footer>
        <app-footer></app-footer>
    </ion-footer>
</div>