<ion-content padding>
    <ion-toolbar color="secondary">
        <ion-title style="text-align: center" size="small">
            <ion-icon name="create"></ion-icon>
            Digitalizació de firma
        </ion-title>
    </ion-toolbar>
    <div #fixedContainer ion-fixed>
        <!-- Barra de colores para pintar -->
        <!-- <ion-row>
            <ion-col *ngFor="let color of colors" [style.background]="color" class="color-block" tappable (click)="selectColor(color)">
            </ion-col>
        </ion-row>

        <ion-radio-group [(ngModel)]="selectedColor">
            <ion-col *ngFor="let color of colors" text-center>
                <ion-radio [value]="color"></ion-radio>
            </ion-col>
        </ion-radio-group> -->
        <!-- FIN Barra de colores para pintar -->


        <!-- <ion-button icon-only color="medium" slot="left" size="small">
            <ion-icon name="create"></ion-icon>
        </ion-button> -->

        <ion-toolbar>
            <ion-buttons slot="end">
                <ion-button color="medium" size="small">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>

        <ion-slides [options]="swiperOts">
            <ion-slide>
                <canvas width="375" height="450" #imageCanvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
            </ion-slide>
        </ion-slides>
        <p></p>
        <p></p>
        <p></p>
        <ion-button expand="full" color="success" (click)="navFinTramite()">FINALIZAR</ion-button>

    </div>
    <!-- <ion-list>
        <ion-title>
            <ion-title style="text-align: center" size="small">FIRMA</ion-title>
        </ion-title>
        <ion-card *ngFor="let obj of storedImages">
            <ion-card-content>
                <img [src]="getImagePath(obj)">
            </ion-card-content>
            <ion-row>
                <ion-button icon-only full color="danger">
                    <ion-icon name="trash"></ion-icon>
                </ion-button>
            </ion-row>
        </ion-card>
    </ion-list> -->
</ion-content>