<app-header [titulo]="titulo || ''" [icono]="icono || 'person'">
</app-header>

<div class="ion-page" main>

    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-toolbar color="warning">
        <ion-title style="text-align: center" size="small">
            <ion-icon name="person"></ion-icon>
            Datos Personales
        </ion-title>
    </ion-toolbar>

    <ion-content class="ion-padding">
        <app-codebar></app-codebar>
    </ion-content>

    <!-- <ion-footer>
        <app-footer></app-footer>
    </ion-footer> -->
</div>