<!--clase personalizada-->
<div class="post">
    <!-- ngIf imgs lo creo si tengo mas de una imangen.... -->
    <ion-slides pager="true" *ngIf="documento.imgs.length > 1">

        <ion-slide *ngFor="let img of documento.imgs" class="image-slide" [style]=" (img | imagen: documento.usuario._id ) | domSanitizer ">
        </ion-slide>

    </ion-slides>

    <!-- Muestro si solo es una imagen -->
    <ion-slides *ngIf="documento.imgs.length === 1" [options]="slideSoloOpts">

        <ion-slide class="image-slide" [style]=" (documento.imgs[0] | imagen: documento.usuario._id ) | domSanitizer ">
        </ion-slide>

    </ion-slides>

    <!-- mapa-->
    <!-- <app-mapa [coords]="documento.coords" *ngIf="documento.coords"></app-mapa> -->
    <ion-item color='primary' lines="none">
        <ion-label text-wrap>Título Documento: {{documento.mensaje}}</ion-label>
    </ion-item>

</div>