<ion-content>

    <ion-toolbar color="medium">
        <ion-title style="text-align: center" size="small">
            <ion-icon name="document"></ion-icon>
            Terminos y Condiciones
        </ion-title>
    </ion-toolbar>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Contrato</ion-card-subtitle>
            <ion-card-title>Aceptación</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Texto de terminos de condiones basicos!
        </ion-card-content>
    </ion-card>

    <p>
        <div class="ion-text-center">
            <ion-text class="label3" color="primary"><i> Debes Activar Tu Cámara y Geolocalización cuando sea Solicitado para Continuar con el Trámite.
  </i></ion-text>
        </div>


        <ion-item>
            <ion-checkbox color="secondary" checked="false" slot="start"></ion-checkbox>
            <ion-label class="label4">Acepto los términos del presente documento</ion-label>
        </ion-item>

        <section class="full-width">
            <ion-button (click)="navDatosPersonales()" expand="full" color="success">CONTINUAR</ion-button>
        </section>

</ion-content>