<ion-content padding>

    <ion-slides [options]="swiperOts">
        <ion-slide>
            <ion-button expand="full" shape="round" (click)="camara()">
                <ion-icon slot="start" name="camera"></ion-icon>
                Cámara
            </ion-button>
            <div *ngIf="galeria">
                <ion-button (click)="libreria()" expand="full" shape="round">
                    <ion-icon slot="start" name="images"></ion-icon>
                    Galería
                </ion-button>
            </div>
        </ion-slide>
    </ion-slides>


    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <ion-button color="success" expand="full" shape="round" (click)="crearPost()">
        <ion-icon slot="start" name="cloud-upload"></ion-icon>
        SUBIR DOCUMENTACION
    </ion-button>

    <ion-row>
        <ion-col size="3" *ngFor="let image of tempImages">
            <ion-card>
                <img [src]="image">
            </ion-card>
        </ion-col>
    </ion-row>


</ion-content>