<!-- https://www.joshmorony.com/advanced-forms-validation-in-ionic-2/ -->
<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start" size="small">
            <ion-button (click)="prev()">
                <ion-icon color="warning" slot="start" name="arrow-back"></ion-icon> Anterior</ion-button>
        </ion-buttons>
        <!-- <ion-title>
            <ion-title style="text-align: center" size="small">YA CASI ES TUYO!</ion-title>
        </ion-title> -->
        <!-- <ion-buttons slot="end">
            <ion-button (click)="next()">Siguiente
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-slides #signupSlider pager [options]="swiperOts"> -->
    <ion-slides #signupSlider pager>

        <ion-slide>
            <app-form-valores-prestamo></app-form-valores-prestamo>
        </ion-slide>

        <ion-slide>
            <app-form-terminos-condiciones></app-form-terminos-condiciones>
        </ion-slide>

        <ion-slide>
            <app-codebar></app-codebar>
        </ion-slide>

        <ion-slide>
            <app-form-datos-domiciliarios></app-form-datos-domiciliarios>
        </ion-slide>

        <ion-slide>
            <app-form-datos-contactos></app-form-datos-contactos>
        </ion-slide>

        <ion-slide>
            <app-camara-documentos></app-camara-documentos>
        </ion-slide>

        <ion-slide>
            <app-selfie></app-selfie>
        </ion-slide>

        <ion-slide>
            <app-drawing></app-drawing>
        </ion-slide>



        <ion-slide>
            <app-sim></app-sim>
        </ion-slide>

    </ion-slides>

</ion-content>

<ion-footer>
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>
                Pasos
            </ion-title>
            <ion-buttons slot="start">
                <ion-button (click)="prev()">
                    <ion-icon slot="start" name="arrow-back"></ion-icon> Anterior</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="next()">Siguiente
                    <ion-icon slot="end" name="arrow-forward"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
</ion-footer>