<app-header [titulo]="titulo || 'Ayuda'" [icono]="icono || 'ios-help-circle-outline'"></app-header>
<ion-content>
    <ion-card>
        <img src="/assets/icon/ayuda.png">
        <ion-card-header>
            <ion-card-subtitle>Fintech App</ion-card-subtitle>
            <ion-card-title>CESI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            En caso que necesites ayuda tenemos un personal dispuesto a brindarte el apoyo necesario en todo lo que necesites, referente a la aplicación.
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer>
    <app-footer></app-footer>
</ion-footer>