<app-header [titulo]="titulo || 'Notificaciones'" [icono]="icono || 'ios-chatbubbles'">
</app-header>

<ion-toolbar>
    <ion-buttons slot="end">
        <ion-button (click)="borrarMensajes()" color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>

<ion-content padding>

    <ion-header>
        <ion-label>UserId: Cliente</ion-label>
    </ion-header>
    <ion-item>
        <ion-label>{{ pushService.userId }}</ion-label>
    </ion-item>

    <div class="container main-container">
        <h1>Mensajes</h1>
        <div class="app-mensajes" id="app-mensajes">
            <ion-item *ngFor="let push of mensajes">
                <ion-label>
                    <div class="speech-bubble">
                        <h2 style="color:white;">
                            {{ push.title }}
                        </h2>
                        <p style="color:white;">
                            {{ push.body }}
                        </p>
                        <ion-label>Muestro info Adicional</ion-label>
                        <p style="color:white;">
                            {{ push.additionalData | json }}
                        </p>
                    </div>
                </ion-label>
            </ion-item>
        </div>
    </div>

</ion-content>