ion-slides,
ion-slide {
    height: 100%;
    width: 100%;
}

:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}

.img-avatar {
    width: 350px
}

.top-20 {
    margin-top: 10px
}

img {
    // height: 70vh;
    width: auto;
    margin: auto;
    display: block;
}

ion-item[type=text] {
    height: 30px;
}

.label3 {
    font-size: 13px;
}

.label4 {
    font-size: 10px;
}