<ion-header translucent>
    <ion-toolbar color="warning">
        <ion-title>
            <ion-title style="text-align: center" size="small">Datos Personales</ion-title>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Escanear DNI</ion-card-subtitle>
            <ion-row class="top-20">
                <ion-col size="12" text-center>
                    <img src="assets/img/dni.png" class="img-avatar">
                </ion-col>
            </ion-row>
            <ion-card-title>Presiones SCAN CODE</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Coloque el Código del DNI en un lugar con claridad

            <ion-slides [options]="swiperOts">
                <ion-slide>
                    <ion-button expand="full" (click)="scan()" size='large' shape='round'>
                        Scan Code</ion-button>
                </ion-slide>
            </ion-slides>

            <ion-slides [options]="swiperOts">
                <ion-slide>
                    <ion-button expand="full" (click)="test()" size='large' shape='round'>
                        Scan Code</ion-button>
                </ion-slide>
            </ion-slides>

        </ion-card-content>

    </ion-card>


    <form [formGroup]="forma" (ngSubmit)="guardarDatosDni()">
        <ion-row>
            <ion-col>

                <ion-list>

                    <ion-item>
                        <ion-label>DNI</ion-label>
                        <ion-input formControlName="dni" placeholder="dni" name="dni" type="numeric" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Nombre</ion-label>
                        <ion-input formControlName="nombre" placeholder="nombre" name="nombre" type="text" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Apellido</ion-label>
                        <ion-input formControlName="apellido" placeholder="apellido" name="nombre" type="text" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Fecha de Nacimiento</ion-label>
                        <ion-input formControlName="fechaNacimiento" name=" fechaNacimiento " type="date " required></ion-input>
                    </ion-item>

                </ion-list>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col>
                <ion-button type="submit" color="success" shape="round" expand="full" size="small">
                    ACEPTAR
                </ion-button>
            </ion-col>
        </ion-row>

    </form>

</ion-content>