<ion-content>
    <ion-card>
        <ion-card-content>
            <p></p>
            <p></p>
            <p></p>
            <img src="assets/img/dni_small.png" />
            <div class="ion-text-center">
                <ion-card-subtitle class="label3" color="primary"><i>Coloque el Código del DNI en un lugar con claridad</i></ion-card-subtitle>
            </div>
            <!-- <ion-slides [options]="swiperOts">
                <ion-slide>
                    <ion-button expand="full" (click)="test()" size='large' shape='round'>
                        Scan Code Test log</ion-button>
                </ion-slide>
            </ion-slides> -->

            <!-- <ion-slides [options]="swiperOts">
                <ion-slide>
                    <ion-button expand="full" slot="start" (click)="resetForm()" size='small' color='danger'>
                        Reset Form</ion-button>
                </ion-slide>
            </ion-slides> -->
        </ion-card-content>
        <ion-slides [options]="swiperOts">
            <ion-slide>
                <ion-button color="primary" expand="full" shape="round" (click)="scan()">
                    <ion-icon slot="start" name="barcode"></ion-icon>
                    ESCANEAR
                </ion-button>
            </ion-slide>
        </ion-slides>
    </ion-card>
    <!-- Formulario de control de carga  -->

    <form [formGroup]="form" (ngSubmit)="guardarDatosDni()">
        <ion-row>
            <ion-col>
                <ion-list align-items-center>

                    <ion-row>
                        <ion-col>
                            <ion-item align-items-center>
                                <!-- <ion-label class="datos-personales">DNI</ion-label> -->
                                <ion-input formControlName="dni" placeholder="DNI" name="dni" type="numeric" required disabled="true"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <!-- <ion-label>Fecha de Nacimiento</ion-label> -->
                                <ion-input formControlName="fechaNacimiento" placeholder="dd/mm/yyyy" name="fechaNacimiento" type="text" required disabled="true"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <!-- <ion-label>Nombre</ion-label> -->
                                <ion-input formControlName="nombre" placeholder="Nombre" name="nombre" type="text" required disabled="true"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <!-- <ion-label>Apellido</ion-label> -->
                                <ion-input formControlName="apellido" placeholder="Apellido" name="nombre" type="text" required disabled="true"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-button [disabled]="form.invalid" expand="full" color="success" (click)="navDatosDomiciliarios()">CONTINUAR</ion-button>
                </ion-list>
            </ion-col>
        </ion-row>
    </form>


</ion-content>