<app-header [titulo]="titulo || ''" [icono]="icono || 'card'">
</app-header>

<div class="ion-page" main>

    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-toolbar color="tertiary">
        <ion-title style="text-align: center" size="small">
            <ion-icon name="person"></ion-icon>
            Selfie - Rostro / DNI
        </ion-title>
    </ion-toolbar>

    <ion-toolbar>
        <div class="ion-text-center" padding>
            <ion-card-subtitle color="primary"><i>Tome una foto de tu Tu Rostro y DNI, deben verse con claridad y presione subir documentación, cuando se active en color verde</i></ion-card-subtitle>
        </div>
    </ion-toolbar>
    <ion-content class="ion-padding">
        <app-selfie></app-selfie>
    </ion-content>

    <div *ngIf="footer">
        <ion-footer>
            <app-footer></app-footer>
        </ion-footer>
    </div>
</div>