<app-header [titulo]="titulo || 'Mis prestamos'" [icono]="icono || 'logo-usd'"> </app-header>
<ion-content>
    <ion-card>
        <img src="/assets/icon/prestamo.png">
        <ion-card-header>
            <ion-card-subtitle>Fintech App</ion-card-subtitle>
            <ion-card-title>CESI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            CESI app, le permitirá saber a tus clientes el estado de su prestamos de manera inmediata.
        </ion-card-content>
    </ion-card>
</ion-content>