<app-header [titulo]="titulo || ''" [icono]="icono || 'attach'"> </app-header>
<div class="ion-page" main>

    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-toolbar color="secondary">
        <ion-title style="text-align: center" size="small">
            <ion-icon name="document"></ion-icon>
            Documentación - Recibos
        </ion-title>
    </ion-toolbar>

    <ion-toolbar color="light">
        <div class="ion-text-center" padding>
            <ion-card-subtitle color="primary"><i>Genial!, Ahora Tome una foto de los 3 últimos meses de su Recibo de Sueldo y presione "Subir Documentación", cuando se active en color verde...</i>
            </ion-card-subtitle>
        </div>
    </ion-toolbar>

    <ion-content padding>
        <app-camera [cantPhotos]="'3'" [inmediatoSiguiente]="'/menu/documento3'"></app-camera>
    </ion-content>

    <ion-footer>
        <ion-buttons slot="end">
            <ion-back-button text="Regresar"></ion-back-button>
        </ion-buttons>
    </ion-footer>

    <div *ngIf="footer">
        <ion-footer>
            <app-footer></app-footer>
        </ion-footer>
    </div>
</div>