<ion-content class="ion-padding">
    <ion-toolbar>
        <ion-row class="top-20">
            <ion-col size="12" text-center>
                <ion-label>
                    <ion-label color="primary"><i>Antes de empezar, ésta es la documentación que vas a necesitar para iniciar tu solicitud...</i></ion-label>
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-toolbar>

    <ion-content>
        <ion-list>
            <ion-item *ngFor="let entry of documentos">
                <ion-label class="label4">{{entry.val}}</ion-label>
                <ion-icon ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon>
            </ion-item>
            <p></p>
            <p></p>
            <p></p>
            <ion-button expand="full" color="success" (click)="navCtrlPage()">CONTINUAR</ion-button>
        </ion-list>
    </ion-content>

</ion-content>