<app-header [titulo]="titulo || ''" [icono]="icono || 'cash'">
</app-header>

<div class="ion-page" main>

    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-toolbar color="success">
        <ion-title style="text-align: center" size="small">ELEGÍ TU PRESTAMO</ion-title>
    </ion-toolbar>

    <ion-content class="ion-padding">
        <app-form-valores-prestamo></app-form-valores-prestamo>
    </ion-content>

    <ion-footer>
        <app-footer></app-footer>
    </ion-footer>
</div>