<ion-row>
    <ion-col text-center>
        <h4>{{configApp.tituloAvatar1}}</h4>
        <h5>{{configApp.tituloAvatar2}}</h5>
    </ion-col>
</ion-row>

<ion-row>
    <ion-col>
        <ion-slides [options]="avatarSlide">
            <ion-slide *ngFor="let avatar of avatars">
                <img class="pick-avatar" src="/assets/avatars/{{ avatar.img}}" [ngClass]="{ 'pick-avatar-seleccionado': avatar.seleccionado }" (click)="seleccionarAvatar( avatar )"><img>

            </ion-slide>
        </ion-slides>
    </ion-col>
</ion-row>